/* ======================================================================================
	Consolidate CSS file for the lsWires.js series

	Last updated: 5-12-14 @ 320p
   ====================================================================================== */



/* ======================================================================================
	lsWire.list.itemTap

	This is a direct copy of ui-btn-active from light-theme-2.5.0.css
	Modify as needed for your own theme 
   ====================================================================================== */
.lswire-selected-item {
    border: 1px solid #2A8DD4;
    background: #cde6f7 /*{global-active-background-color}*/;
    color: #222;
    cursor: pointer;
    text-shadow: 0px 0px 0px #cde6f7;
    text-decoration: none;
    background-image: -webkit-gradient(linear, left top, left bottom, from( #cde6f7 /*{global-active-background-start}*/), to( #cde6f7 /*{global-active-background-end}*/));
    background-image: -webkit-linear-gradient( #cde6f7 /*{global-active-background-start}*/, #cde6f7 /*{global-active-background-end}*/);
    background-image: -moz-linear-gradient( #cde6f7 /*{global-active-background-start}*/, #cde6f7 /*{global-active-background-end}*/);
    background-image: -ms-linear-gradient( #cde6f7 /*{global-active-background-start}*/, #cde6f7 /*{global-active-background-end}*/);
    background-image: -o-linear-gradient( #cde6f7 /*{global-active-background-start}*/, #cde6f7 /*{global-active-background-end}*/);
    background-image: linear-gradient( #cde6f7 /*{global-active-background-start}*/, #cde6f7 /*{global-active-background-end}*/);
    font-family: "Segoe UI", "Segoe WP", "Roboto","Frutiger","Helvetica Neue", Helvetica, Arial, sans-serif;
}


/* ======================================================================================
	lsWire.list.itemTap

	For table row, remove the border when selecting a row 
   ====================================================================================== */
.msls-tr.lswire-selected-item {
	border: none;
}


/* ======================================================================================
	lsWire.list.itemTap

	Remove the funky border when item has focus
   ====================================================================================== */
.lswire-selected-item .ui-focus, .ui-btn:focus {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
	box-shadow:none;
}


/* ======================================================================================
	lsWire.list.itemTap

	Remove the dotted border when a row has focus, we use colors for that
	Comment it out if you like the border
   ====================================================================================== */
tr.msls-table-row:focus {
    outline: none;
}



/* ======================================================================================
   ======================================================================================
   ======================================================================================
	CSS for lsWire.checkbox

	Inline comments should be pretty explanatory
	This is for the Light Theme
   ====================================================================================== 
   ====================================================================================== 
   ====================================================================================== */


/* The lsWire checkbox does not use the jquery mobile styling */
/* ==========================================================*/
.lswire-checkbox {
	clear: both;
}

	/* To make our checkbox symetrical when there is no accompaning text*/
	.lswire-checkbox.noLabelCheckbox {
		width: 20px !important;
	}

	/* Remove the jqeury mobile graphic checkbox */
	.lswire-checkbox .ui-icon {
		display: none;
	}


	/* Adjust the location of our actual checkbox control */
	.lswire-checkbox .ui-checkbox input {
		top: 7px;
		z-index: 99;
		height: 20px;
		width: 20px;
		left: 0;
		margin: 0 !important;
		cursor: pointer;
		padding-left: 0;
	}

	/* Margins for our text/label */
	.lswire-checkbox .ui-checkbox .ui-btn-text {
		left: 0 !important;
	}


	/* This is for the text to accompany the checkbox     */
	/* we are moving margins to match other screen fields */
	/* this brings the text closer to the checkbox        */
	.lswire-checkbox .ui-btn-icon-left .ui-btn-inner {
		padding-left: 30px;
	}

	/* Move the label/text over to the left by x number of pixels */
	.lswire-checkbox label {
		padding-left: 5px;
	}

	.lswire-checkbox .noLabelCheckbox label {
		width: 0;
		padding-left: 0;
	}


/* Make a no label checkbox with jquery mobile look symetrical */
/* ==========================================================*/
.noLabelCheckbox {
	width: 45px !important;
}


	/* The following allows a jquery mobile checkbox with no label */
	/* ==========================================================*/
	.noLabelCheckbox .ui-btn-inner {
		padding-left: 0 !important;
		min-width: 0;
	}


/* This removes the border around a jquery/LS checkbox */
/* ==========================================================*/
.ui-checkbox .ui-btn {
	box-shadow: none;
	border: none !important;
	margin: inherit;
}


/* ==========================================================*/
/* ==========================================================*/
/* For webkit (safari and chrome) browsers */
/* ==========================================================*/
/* ==========================================================*/
@media screen and (-webkit-min-device-pixel-ratio:0) {

	.lswire-checkbox .ui-checkbox input {
		top: 9px;
		z-index: 99;
		height: 20px;
		width: 20px;
		left: 0;
		margin: 0 !important;
		cursor: pointer;
	}

	.ui-checkbox .ui-btn-icon-left .ui-btn-inner {
		padding-left: 30px;
	}

	.ui-checkbox label {
		padding-left: 10px;
	}

	.noLabelCheckbox .ui-checkbox .ui-btn {
		width: 10px !important;
	}

}

/* Set the font size to whatever you are using as normalized screen font size */
.lswire-checkbox .ui-fullsize .ui-btn-inner, .ui-fullsize .ui-btn-inner {
	font-size: 14px;
}
